.checkbox {
	opacity: 0;
	position: absolute;
}

.checkbox-label {
	border: 1px solid;
	background-color: #111;
	width: 50px;
	height: 26px;
	border-radius: 50px;
	position: relative;
	padding: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	margin-right: 1rem;
	margin: 5px 1rem;
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.checkbox-label .ball {
	background-color: #fff;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 2px;
	top: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
	transform: translateX(24px);
}

@media only screen and (max-width: 768px) {
	.checkbox-label {
		margin: 20px;
	}
}