@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .width-unset {
    width: unset;
  }
}

html,
body {
  /*  @apply bg-gradient-to-r from-gray-700 via-gray-900 to-black; */
}

.bg_Dark_Theme {
  background: #000000;
}