@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .width-unset {
    width: unset;
  }
}

html,
body {
  /*  @apply bg-gradient-to-r from-gray-700 via-gray-900 to-black; */
}

.bg_Dark_Theme {
  background: #000000;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000000f0;
}

::-webkit-scrollbar-thumb {
  background-color: #facc17;
  border-radius: 5px;
}
